$bg_ColorBody: #1B1B1B;
$mainColor: #EF4B4D;
$secColor: #af3133;
$pColor: #8D8B8B;
$fontLight: SomarLight,
sans-serif;
$fontMediam: SomarMediam,
sans-serif;
$fontBold: SomarBold,
sans-serif;
$fontExtraBold: SomarExtraBold,
sans-serif;
$fontSemiBold: SomarSemiBold,
sans-serif;